In [81]:
#Slice
a = "Hello, World!"
print(a[0:8])


b = "Naveen Balani"
print(b[0:13])

Hello, W
Naveen Balani

In [82]:
c = "Start From"
print(c[:4])

b = "From End"
print(b[4:])

Star
 End

In [83]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [84]:
#Upper Case
#Example
#The upper() method returns the string in upper case:

a = "Hello World!"
print(a.upper())

HELLO WORLD!

In [85]:
b = "Hello World!"
print(b.lower())

hello world!

In [86]:
c = "Hello World!"
print(c.strip())

Hello World!

In [87]:
d = "Hello, World!"
print(d.replace("H", "j"))

jello, World!

In [88]:
#Split String
#The split() method returns a list where the text between the specified separator becomes the list items.
#Example The split() method splits the string into substrings if it finds instances of the separator:
e = "Hello, World!"
print(e.split(","))

['Hello', ' World!']

In [89]:
a = "Hello"
b = "World"
c = a + b
print(c)

d = "Hello "
e = "World"
f = d + e
print(f)

HelloWorld
Hello World

In [90]:
#Example
#To add a space between them, add a " ":

l = "Hello,"
m = "World"
n = l + " " + m
print(n)

Hello, World

In [91]:
Name = "Naveen kumar"
Phone = 3133254772
Age = 25
Address = "PECHS Karachi"

txt = Name ,f"{Phone}",f"{Age}", Address
print(txt)

('Naveen kumar', '3133254772', '25', 'PECHS Karachi')

In [92]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [93]:
price1 = 59
txt2 = f"The price is {price1} dollars"
print(txt2)

price2 = 45000
txt3 = f"The price is {price2} dollars"
print(txt3)

The price is 59 dollars
The price is 45000 dollars

In [94]:
Model = "Samsung S22"
Storage = "8 GB RAM" " 256GB ROM"
Battery = 3700
Screen = 6.1
Processor = "Qualcomm" 
Price = 194,999 
Pwords = "Rupees"

Mobile = Model,Storage, f"{Battery}" , f"{Screen}", Processor, f"{Price}" , Pwords
print(Mobile)

('Samsung S22', '8 GB RAM 256GB ROM', '3700', '6.1', 'Qualcomm', '(194, 999)', 'Rupees')

In [95]:
Laptop = "HP Intel(R) Core(TM) i5-4300U CPU @ 1.90GHz   2.50 GHz"
Aaras = "Rs."
Rs = 60000
Ram = "8GB"
ssd = "256 GB"

Lap = Laptop, Aaras,f"{Rs:.2f}",Ram,ssd
print(Lap)

('HP Intel(R) Core(TM) i5-4300U CPU @ 1.90GHz   2.50 GHz', 'Rs.', '60000.00', '8GB', '256 GB')

In [96]:


Add = f"Addition '10+15' = {10 + 15} is that "
print(Add)

Subs = f"Subtraction '55-25' = {55 - 25} is that "
print(Subs)

multi = f"Multiplication '5*3' =  {5 * 3} is that "
print(multi)

Div = f"Division '100/4' = {100 / 4} is that "
print(Div)

Mod = f"Modulus '1%6' = {1 % 6} is that "
print(Mod)

Expon = f"Exponentiation '2**5' = { 2 ** 5} is that " #same as 2*2*2*2*2
print(Expon)

Floordiv = f"Floor division '15//2' = {15 // 2} is that"
print(Floordiv)

#the floor division // rounds the result down to the nearest whole number

Addition '10+15' = 25 is that
Subtraction '55-25' = 30 is that
Multiplication '5*3' =  15 is that
Division '100/4' = 25.0 is that
Modulus '1%6' = 1 is that
Exponentiation '2**5' = 32 is that
Floor division '15//2' = 7 is that

In [97]:
print("\'")
alright = 'It\'s alright.'
print(alright)

'
It's alright.

txt = "This will insert one \\ (backslash)."
print(txt)

In [98]:
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [99]:
print("when you add \\\ (backslash it will show single backslah")
txt = "This will insert one \\ (backslash)."
print(txt)

when you add \\ (backslash it will show single backslah
This will insert one \ (backslash).

<>:1: SyntaxWarning: invalid escape sequence '\ '
<>:1: SyntaxWarning: invalid escape sequence '\ '
C:\Users\naveen.kumar\AppData\Local\Temp\ipykernel_11412\2202178243.py:1: SyntaxWarning: invalid escape sequence '\ '
  print("when you add \\\ (backslash it will show single backslah")

In [102]:
print("when you add double (backslash it will show single backslah")
txt = "This will insert one \\ (backslash)."
print(txt)

when you add double (backslash it will show single backslah
This will insert one \ (backslash).

In [104]:
print("whenever you want to add a new line kindly add backslah and simple type with it n next word will be on new line")
New = "Naveen\nBalani"
print(New)

whenever you want to add a new line kindly add backslah and simple type with it n next word will be on new line
Naveen
Balani

In [108]:
print("Carriage Return (backslash and r) it is will work like new line ")
Carret = "Hello\rWorld!"
print(Carret)

Carriage Return (backslash and r) it is will work like new line
World!

In [109]:
print("backslash with t it will add space like tab ")
Tab = "Hello\tWorld!"
print(Tab)

backslash with t it will add space like tab
Hello	World!

In [113]:
#This example erases one character (backspace):
backsp = "Hello  \bWorld!"
print(backsp)

Hello World!

In [114]:
#A backslash followed by three integers will result in a octal value:
octval = "\110\145\154\154\157"
print(octval)

Hello

In [115]:
#A backslash followed by an 'x' and a hex number represents a hex value:
hexval = "\x48\x65\x6c\x6c\x6f"
print(hexval)

Hello

In [116]:
Capt = "my name is naveen"

b = Capt.capitalize()
print(b)

My name is naveen

In [121]:
Capt1 = "python is best"
c = Capt1.capitalize()
print(c)

Python is best

In [122]:
#Example See what happens if the first character is a number:
Capt2 = "36 is my age."

d = Capt2.capitalize()

print (d)

36 is my age.

In [123]:
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [125]:
Cent = "banana"

e = Cent.center(100)

print(e)

                                               banana

In [126]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [127]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:a
print("b is not greater than a")

b is not greater than a

In [137]:
print(bool("Hello"))
print(bool(""))
print(bool("Heelo15"))

True
False
True

In [136]:
c = ""
d = "'15'"

print(bool(c))
print(bool(d))

False
True

In [140]:
c = "Hello"
d = ""
e = 15
f = 0

print(bool(c))
print(bool(d))
print(bool(e))
print(bool(f))
print(bool(None))

True
False
True
False
False

In [141]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

In [142]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [143]:
class myclass():
  def __len__(self):
    return 1

myobj = myclass()
print(bool(myobj))



class myclass1():
  def __len__(self):
    return 0

myobj1 = myclass1()
print(bool(myobj1))

True
False

In [144]:
def myFunction() :
  return True

print(myFunction())

True

In [147]:
def myFunction() :
  return False

if myFunction():
  print("YES!")
else:
  print("NO!")
  
  
  def myFunction1() :
    return True

if myFunction1():
  print("YES!")
else:
  print("NO!")

NO!
YES!